<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ensure proper scaling on mobile devices -->
    <title>Car Wash App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        h1 {
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>WashPro</h1>
        <p>Please upload an image of the license plate or enter the license plate number below to proceed.</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="license_plate_image">Upload an image of the license plate:</label>
                    <input type="file" id="license_plate_image" name="license_plate_image" class="form-control-file">
                </div>
                <div class="form-group col-md-6">
                    <label for="license_plate">Or enter license plate:</label>
                    <input type="text" id="license_plate" name="license_plate" class="form-control"
                        placeholder="License Plate">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>